div {
    white-space: pre-wrap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply hover:-translate-y-1 transform transition focus:outline-none focus:ring focus-within:ring-blue-600
        focus:ring-opacity-70 focus-within:ring-offset-1
    }

    .stdbtn {
        @apply bg-blue-500 hover:bg-blue-400 font-bold py-4 px-12 rounded-lg active:bg-blue-700 shadow-md text-white
    }

    .textarea {
        @apply text-3xl text-gray-700 shadow-md rounded-2xl p-6 border-2 lg:text-xl hover:-translate-y-1 transform transition
    }

    .codearea {
        @apply bg-gray-800 text-gray-300 p-4 rounded-2xl shadow-lg mb-3
    }

    .parea{
        @apply text-gray-700 mb-3
    }
}